/* ============ GLOBAL RESET ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  color: #000;
}

.notification-bar {
  height: 45px;
  background-color: rgb(243, 245, 247);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px;
}

.notification-bar p ,
.notification-bar span {
  font-size: 1rem;
}

.notification-bar img {
  height: 20px;
  width: 20px;
}

.notification-bar a{
  display: flex;
  align-items: center;
  color: blue;
  text-decoration: underline;
}

.navigation-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;

}

.nav-left {
  font-size: 1.5rem;
}


.navigation-bar .nav-middle {
  width: 20%;
}

.navigation-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navigation-bar a {
  text-decoration: none;
  color: rgb(108, 114, 117);
  font-size: 1rem;
  
}

.nav-middle ul li:nth-child(1) a {
  color: rgb(20, 23, 24);
}

.nav-right {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hero-image {
  border-radius: 5px;
  width: 75%;
  position: relative;
}

#image-hero {
  width: 100%;
  height: auto;
}

.nav-arrow{
  z-index: 5;
  background-color: transparent;
  /* border: none; */
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  transform: translateY(-50%); /* This properly centers vertically */
  display: flex;
  justify-content: space-between;
}


.nav-arrow svg,
.nav-arrow svg {
  height: 40px;
  width: 40px;
  object-fit: fill;
  border-radius: 50%;
  cursor: pointer;

}


.hero-text {
  height: 175px;
  width: 75%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

.hero-text h1{
  font-size: 4rem;
}

.hero-text p{
  width: 450px;
  font-size: 1.5rem;
}

.categories {
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: grid;
  grid-template-columns: repeat(2,  1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;

}

.category {
  position: relative;
}

.category-tag{
  position: absolute;
  height: 78px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 48px;
  bottom: 48px;
}

.living-room .category-tag{
  top: 48px;
}

.category-tag h3 {
  font-size: 3rem;
}

.category-tag a {
  color: black;
}

.living-room {
  grid-row: 1/3;
  grid-column: 1/2;
}



.bedroom {
  grid-row: 1/2;
  grid-column: 2/3;
}

.kitchen {
  grid-row: 2/3;
  grid-column: 2/2;
}

.categories img {
  width: 100%;
  height: 100%;
}

.new-arrivals{
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 4px;

}

.section-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.section-header h2 {
  width: auto;
  height: 100%;
  font-size: 2.5rem;
}

.section-header a {
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3px;
}

.product-grid {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;

}

.product-card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;  
  position: relative;
  flex-shrink: 0;
}


.tag {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  left: 5px;
}

.tag span {
  width: 50px;
  height: 24px;
  padding: 2px;
  font-size: 1.5;
  font-weight: 600;
  text-align: center;
}

.new {
  background-color: white;
  color: black;
}

.sale {
  background-color: rgb(56, 203, 137);
  color: white;
}

.product-card img {
  width: 100%;
  height: auto;
  
  
}

.dereption {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;

}


.star {
  display: flex;
  gap: 5px;
}

.star svg {
  height: 16px;
  width: 16px;
}

.old {
  font-weight: 500;
  color: rgb(108, 114, 117);
  text-decoration: line-through;
}

.services {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.service {
  width: 220px;
  height: 220px;
  background-color: rgb(243, 245, 247);
  color: black;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service *{
    margin-bottom: 15px;
}

.promo-banner {
  width: 100%;
  height: 532px;
  display: flex;
  background-color: rgb(243, 245, 247);
  align-items: center;
  gap: 60px;
}



.promo-text *{
  margin-bottom: 15px;
}

.promo-text h4 {

  color: blue;
}
.promo-text h2 {
  font-size: 3rem;
}
.promo-text  p {
  width: 400px;
  line-height: 1.5;
}

.promo-text a {
  color: black;
  font-weight: 500;
}

/* ================================ */

.footer {
  background: #000;
  color: #fff;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: "Inter", sans-serif;
}

/* Top section layout */
.footer-left,
.footer-links,
.footer-icons {
  display: flex;
  flex-direction: column;
}

.footer-left .brand {
  font-size: 26px;
  font-weight: 700;
}

.footer-left p {
  color: #cfcfcf;
  margin-top: 5px;
}

/* Middle navigation links */
.footer-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 16px;
}

/* Social icons */
.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.footer-icons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  filter: brightness(0) invert(1); /* Make icons white */
}

/* ------- Grid layout for top section ------- */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: start;
}

/* Bottom section line + text */
.footer-bottom {
  grid-column: 1 / 4;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #3e3e3e;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  font-size: 14px;
}

.footer-bottom p {
  color: #cfcfcf;
  margin: 0;
}

.footer-bottom a {
  color: #cfcfcf;
  text-decoration: none;
}
