*{
 padding: 0;
 margin: 0;
}
.container{
 width: 100%;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0);
 display: flex;
 flex-direction: column;

}
.notification-bar{
 display: flex;
 flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
background-color: rgb(162, 162, 162);
}
.right-a{
 margin-top:15px;
}
.shop-n{
margin-top: 12px;
}
.shopn{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin-bottom: 12px;
}
.nav-Bar{
 margin: 2em;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
.logo{
 background-color: rgba(0, 0, 0, 0);
 font-weight: 900;
 font-size: 30px;
 margin-right: 2em;

}
.list-1{
 display: flex;
 flex-direction: row;
 gap: 3em;
 list-style: none;
 margin-right: 7em;
}
.list-1 a{
 color: black;
  text-decoration: none;
  font-size: 20px;
}
.icon-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.icon1{
 width: 34px;
}
.bag{
  width: 70px;
}
.body{
  background-color: rgba(250, 235, 215, 0);
  flex-grow: 1;
}
.img-shop{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.img-shop-spp{
  position: absolute;
  display: flex;
  gap: 14px;
  flex-direction: column;
  top: 180px;
}
.h-S{
  display: flex;
   gap: 17px;
   align-items: center;
   justify-content: center;
   font-size: 20px;
}
.big-l{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 600;
}
.n-text{
  font-size: 20px;
}
.img-shop img{
  width: 1360px;
  height: 600px;
  border-radius: 12px;
}
.C-P-S{
margin-top: 2em;
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 2em;

}
.Select-Group-1 ,.Select-Group-2{
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.Select-Group-1{
  margin-left: 90px;
}
.Select-Group-2{
  margin-left: 30px;
}

.Select-Group-1 label,.Select-Group-2 label{
  font-weight: 500;
  font-size: 26px;
  color: rgb(145, 145, 145);
}
#R,#p{
  width: 300px;
  padding: 8px;
  font-size: 16px;
  color: rgb(145, 145, 145);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 13px;
}
.Select-Group-3{
  margin-top: 20px;
  margin-left:430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.Select-Group-3 label{
color: black;
font-weight: 600;
}
#s{
  border: none;
  font-size: 16px;
}
.btn{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.btn div{
  padding: 5px;
  border: 2px solid grey;
}
.container-2{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background-color: rgba(255, 192, 203, 0);
}
.block-sell{
 width: 1360px;
 display: flex;
 flex-direction: row;
 gap: 2em;
 flex-wrap: wrap;
 background-color: rgba(57, 57, 57, 0);
 
}
.img-item{
  position: relative;
}
.img-item img{
  width: 310px;
}
.avertise{
  position: absolute;
  bottom: 336px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;

}
.new{
  background-color: white;
  padding: 4px 8px 4px 8px;
  color: black;
  border-radius: 4px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.discount{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 162, 48);
  padding: 4px 11px 4px 11px;
     font-weight: 600;
     border-radius: 4px;
}
.item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.star{
  display: flex;
  flex-direction: row;
}
.name{
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 900;
}
.Price{
display: flex;
flex-direction: row;
gap: 10px;
font-size: 17px;

}
.footer{
  margin-top: 10px;
  background-color: black;
  color: white;
}
